#name {
  margin-right: 10px;
  margin-top: 8px;
}

#products {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.card {
  margin: 10px !important;
  width: 30%;
}
